{{#if errorMessage}}
<div class="alert alert-danger"> 
    <strong>Error:</strong> {{errorMessage}}
</div>
{{/if}}
{{#if successMessage}}
<div class="alert alert-success"> 
    <strong>Success:</strong> {{successMessage}}
</div>
<a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in &nbsp;&nbsp;&nbsp;</a>
<br /><br /><br />
{{else}}
<div class="row">
    <div class="col-md-12">
        <h2>Register</h2>
        <br />
        <form method="post" action="/register">
            <div class="form-group">
                <input class="form-control" name="userName" type="text" placeholder="User Name" required/>
                <br/>
                <input class="form-control" name="password" type="text" placeholder="Password" required/>
                <br/>
                <input class="form-control" name="password2" type="text" placeholder="Confirm Password" required/>
                <br/>
                <input class="form-control" name="email" type="text" placeholder="Email Address" required/>
            </div>
            <input type="submit" class="btn btn-success pull-right" value="Register" />
        </form>
    </div>
</div>
{{/if}}